@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body, h1, h2, h3, a{
	font-family: 'Source Serif 4', sans-serif;
	font-size: 20px;
}

.topic p{
	font-family: 'Pacifico', cursive;
}