<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">

<title>Welcome</title>
<link rel = "icon" href ="img/logo-icon.png" type = "image/x-icon">
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="css/styles.min.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css"> -->
<link rel="stylesheet" href="css/sidebar.css">
</head>


<body style="background: rgb(251,249,249);">



	<div class="wrapper">

		<ul class="nav flex-column shadow d-flex sidebar mobile-hid" style="height: 100%;">
			<li class="nav-item logo-holder">
				<div class="text-center text-white logo py-4 mx-4"><a id="title" class="text-decoration-none" href="#"><strong>Gestione</strong><br></a><a class="float-end" id="sidebarToggleHolder" href="#"><i class="fas fa-bars" id="sidebarToggle"></i></a></div>
			</li>
			<li class="nav-item"><a class="nav-link active text-start py-1 px-0" href="#"><i class="fas fa-tachometer-alt mx-3"></i><span class="text-nowrap mx-2">Gestione menu</span></a></li>
			<li class="nav-item"><a class="nav-link text-start py-1 px-0" href="#"><i class="fas fa-user mx-3"></i><span class="text-nowrap mx-2">Gestione topic</span></a></li>
			<li class="nav-item"><a class="nav-link text-start py-1 px-0" th:href="@{/homepage/index}"><i class="fas fa-archive mx-3"></i><span class="text-nowrap mx-2">Home Page</span></a></li>
		</ul>


		<div class="col-md-6 offset-md-3 mt-5">



			<section class="my-5">
				<div class="container">
					<div class="row">
						<div class="col-md-8 mx-auto">

							<a th:href="@{/gestionemenu/deleteAll}" class="btn btn-primary"><i
								class="fas fa-user-plus ml-2">Cancella tutti i file</i></a>

							<h2>Upload File Example</h2>
							<p th:text="${message}" class="alert alert-primary"></p>

							<form method="post" th:action="@{/gestionemenu/upload}">
								<div class="form-group">
									<label>Inserisci titolo</label>
									<input type="text" name="titolo">
									<label>Inserisci primi</label>
									<input type="text" name="primi">
									<label>Inserisci secondi</label>
									<input type="text" name="secondi">
								</div>
								<button type="submit" class="btn btn-primary"> Upload Menu</button>
							</form>
						</div>
					</div>
				</div>
			</section>






			<div th:switch="${menus}" class="container my-5">
				<h2 th:case="null">Nessun menu per ora</h2>
				<div th:case="*">

					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>Nome</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="menu : ${menus}">
								<td th:text="${menu.titolo}">ID</td>

								 <td><a th:href="@{/gestionemenu/deleteMenu/{id}(id=${menu.id})}"
									class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a>
								</td> 
							</tr>
						</tbody>
					</table>

				</div>
			 </div>



 			<div th:switch="${menus}" class="container my-5">
				<h2 th:case="null">Nessun menu per ora</h2>
				<div th:case="*">
					
					<div th:each="menu : ${menus}" class="card" style="width: 18rem;">
						<div class="card-header">
							<a th:text="${menu.titolo}"></a>
						</div>
						<ul class="list-group list-group-flush">
						  <li th:each="primo : ${menu.primi}"class="list-group-item">
							  <a th:text="${primo}"></a>
						  </li>
						</ul>
					  </div>

				</div>
			</div> 



		</div>



	</div>
</body>



<script src="js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script> -->
<!-- script for sidebar reactive -->
<script src="js/script.min.js"></script> 
</html>
